NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000

# Supabase — Session pooler for app runtime (port 6543)
DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&schema=rentnest&sslmode=require"
# Direct/session connection for migrations & seed (port 5432)
DIRECT_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres?schema=rentnest&sslmode=require"

JWT_SECRET=535e11be304b44965df39be07049e2b7b042252abb272bb027c5feb44dc54936
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=change_me_too
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12

STRIPE_SECRET_KEY=sk_test_your_secret_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
STRIPE_CURRENCY=usd

ADMIN_EMAIL=admin@rentnest.com
ADMIN_PASSWORD=admin123

